<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h5 basicHighlight>Please make me red using basic directive</h5>
<h5 appBetterHighlight>Please make blue red using better directive</h5>

<h2 *appStrucDirective="false">This is structural directive test</h2>

<ng-template [appStrucDirective]="false">
  <h1>Custom structual directive test using ng-template</h1>
</ng-template>
<app-newcustom></app-newcustom>

